<div>
  <%= flash[:notice] %>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center">welcome to <i class="fa-solid fa-book"></i><strong>Bookers</strong> !!</h1>
        <P class="text-center">
          In <i class="fa-solid fa-book"></i><strong>Bookers</strong>,<br>
          you can share and exchange your opinions , inpressions , and emotions<br>
          about various books!
        </P>
        <div class="d-grid gap-2 col-6 mx-auto d-flex flex-column">
          <%= link_to "Log in", new_user_session_path, class:"btn btn-primary" %>
          <%= link_to "Sign up", new_user_registration_path, class:"btn btn-success  mt-3" %>
        </div>
    </div>
  </div>
</div>
